
<div class="form-group">
    <div class="col-md-10">
        <p>Success!</p> @TempData["uploadedUri"]
        <p>
            <a asp-area="" asp-controller="Home" asp-action="Index">Upload another file</a>
        </p>
    </div>
</div>